<div ng-controller="WinesShowCtrl" class="wine container well margin-top-20 small-container">
  <div>
    <a ui-sref="wines-index"><< Go Back</a>
  </div>
  <div class="bold margin-top-20">
    Name
  </div>
  <div class="margin-top-20">
    <input ng-model="wine.name" type="text" class="form-control" />
  </div>
  <div class="bold margin-top-20">
    Year
  </div>
  <div class="margin-top-20">
    <input ng-model="wine.year" type="text" class="form-control" />
  </div>
  <div class="bold margin-top-20">
    Grapes
  </div>
  <div class="margin-top-20">
    <input ng-model="wine.grapes" type="text" class="form-control" />
  </div>
  <div class="bold margin-top-20">
    Country
  </div>
  <div class="margin-top-20">
    <input ng-model="wine.country" type="text" class="form-control" />
  </div>
  <div class="bold margin-top-20">
    Region
  </div>
  <div class="margin-top-20">
    <input ng-model="wine.region" type="text" class="form-control" />
  </div>
  <div class="bold margin-top-20">
    Price
  </div>
  <div class="margin-top-20">
    <input ng-model="wine.price" type="text" class="form-control" />
  </div>
  <div class="bold margin-top-20">
    Picture
  </div>
  <div class="margin-top-20">
    <input ng-model="wine.picture" type="text" class="form-control" />
  </div>
  <div class="bold margin-top-20">
    Description
  </div>
  <div class="margin-top-20">
    <textarea ng-model="wine.description" class="form-control"></textarea>
  </div>
</div>
</div>

<!--
"id": 1430,
    "created_at": "2015-10-13T01:30:28.646Z",
    "updated_at": "2015-10-13T01:30:28.646Z",
    "name": "DOMAINE DU BOUSCAT",
    "year": "2009",
    "grapes": "Merlot",
    "country": "France",
    "region": "Bordeaux",
    "price": 34,
    "description": "The light golden color of this wine belies the bright flavor it holds. A true summer wine, it begs for a picnic lunch in a sun-soaked vineyard.",
    "picture": "http://s3-us-west-2.amazonaws.com/sandboxapi/bouscat.jpg"
 -->