  <div class="container" ng-controller="WinesIndexCtrl">
    <!-- <div class="margin-top-20">
      <a data-toggle="modal" data-target="#add-wine-modal" class="btn btn-primary">Add New Wine</a>
    </div> -->
    <!--One Wine-->
    <div class="row margin-top-20 wine-container"
    ng-repeat="wine in wines"
    >
    <div class="col-sm-3">
      <img ng-src="{{ wine.picture }}" class="img-responsive" />
    </div>
    <div class="col-sm-9">
      <div class="margin-top-20">
        <h3>Name: {{wine.name}}</h3>
      </div>
      <div>
        <span class="bold">Description: </span>
      </div>
      <div class="margin-top-10">
        {{wine.description}}
      </div>
      <div class="margin-top-10">
        <a ui-sref="wines-show({id: wine.id})">See more</a>
      </div>
      <!-- <div class="margin-top-20">
        <a href="#/wines/{{wine.id}}/edit" class="btn btn-default">Edit Wine</a>
        <button type="button" ng-click="deleteWine(wine.id);" class="btn btn-danger" data-dismiss="modal">Remove Wine</button>
      </div> -->
    </div>
  </div>
  <!--/One Wine-->

  <!--Add Wine Modal-->
  <!-- <div id="add-wine-modal"
  class="modal fade animate scale-fade-in">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Add New Wine</h4>
        </div>
        <div class="modal-body">
          <div class="bold">
            Name
          </div>
          <div class="margin-top-20">
            <input ng-model="wineData.name" type="text" class="form-control" />
          </div>
          <div class="bold margin-top-20">
            Year
          </div>
          <div class="margin-top-20">
            <input ng-model="wineData.year" type="text" class="form-control" />
          </div>
          <div class="bold margin-top-20">
            Grapes
          </div>
          <div class="margin-top-20">
            <input ng-model="wineData.grapes" type="text" class="form-control" />
          </div>
          <div class="bold margin-top-20">
            Country
          </div>
          <div class="margin-top-20">
            <input ng-model="wineData.country" type="text" class="form-control" />
          </div>
          <div class="bold margin-top-20">
            Region
          </div>
          <div class="margin-top-20">
            <input ng-model="wineData.region" type="text" class="form-control" />
          </div>
          <div class="bold margin-top-20">
            Price
          </div>
          <div class="margin-top-20">
            <input ng-model="wineData.price" type="text" class="form-control" />
          </div>
          <div class="bold margin-top-20">
            Picture
          </div>
          <div class="margin-top-20">
            <input ng-model="wineData.picture" type="text" class="form-control" />
          </div>
          <div class="bold margin-top-20">
            Description
          </div>
          <div class="margin-top-20">
            <textarea ng-model="wineData.description" class="form-control"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" ng-click="createWine(wineData);" class="btn btn-primary" data-dismiss="modal">Save Wine</button>
        </div>
      </div>
    </div>
  </div>
 -->
</div>